# Visualization
matplotlib
seaborn
plotly

# Data manipulation and API
pandas
numpy==1.26.4
yfinance

# Time Series Forecasting
statsmodels
pmdarima
tensorflow
keras
joblib
scikit-learn

# Portfolio Optimization
PyPortfolioOpt

jupyter