# Visualization
matplotlib
seaborn
plotly

# Data manipulation and API
pandas
numpy
yfinance

# Time Series Forecasting
statsmodels
pmdarima
tensorflow
keras
scikit-learn

# Portfolio Optimization
PyPortfolioOpt

jupyter